// 公共样式 start
// @font-face{
// 	font-family: font;
// 	src : url('../font/兰亭细黑 GBK.TTF') format('truetype');
// }
// body{
// 	font-family: font;
// }
.container{
	width:1226px;
	margin: 0 auto;
}
a{
	color: #000;
}
a:hover{
	color: #ff6700;
}
.shadow(){
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
/*公共样式 over*/

/*topbar start*/
.topbar{
	height: 40px;
	line-height: 40px;
	font-size: 10px;
	background: #333;
	color: #b0b0b0;
	text-align: center;
	// 导航列表
	.topbar-nav{
		float: left;
		a{
			color: #b0b0b0;
			&:hover{
				color: #fff;
			}
		}
		span{
			color: #555;
			display: inline-block;
			width: 8px;
		}
	}
	// 登录和注册
	.topbar-info{
		.topbar-nav;
		float: right;
	}
	// 导航购物车
	.topbar-cart{
		width: 120px;
		float: right;
		margin-left: 20px;
		background: #424242;
		position: relative;
		cursor: pointer;
		.cart-menu{
			.shadow;
			// min-height: 96px;
			height: 96px;
			width: 314px;
			right: 0;
			top: 40px;
			background: #fff;
			position: absolute;
			z-index: 9999;
			display: none;
		}
	}
}
/*topbar over*/

/*header start*/
.header{
	width: 100%;
	height: 100px;
	border-bottom:1px solid #e0e0e0;
	box-sizing: border-box;
	position: relative;
	.container{
		display: flex;
		// position: relative;
	}
	// logo
	.header-logo{
		width: 49px;
		height: 100px;
		overflow: hidden;
		position: relative;
		.header-logo-box{
			position: absolute;
			left: -49px;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			height: 49px;
			background: #ff6801;
		}
	}
	// 顶部主导航
	.header-nav{
		margin-left: 60px;
		ul{
			display: flex;
			li{
				height: 100px;
				line-height: 100px;
				margin: 0 8px 0 8px;
				.header-nav-menus{
					display: none;
					width: 100%;
					height: 230px;
					position: absolute;
					background: #fff;
					left: 0;
					z-index: 10;
					.shadow;
					li{
						width: 185px;
						height: 200px;
						font-size: 10px;
						line-height: 10px;
						text-align: center;
						display: flex;
						flex-flow:column;
						justify-content:space-between;
						align-items:center;
						.flag{
							height: 20px;
							line-height: 20px;
							color: #ff6700;
							// margin-top: -1px;
							padding: 0 20px 0 20px;
							border: 1px solid #ff6700;
						}
						img{
							width: 160px;
							height: 110px;
						}
						.price{
							color: #ff6700;
						}
					}
					span{
						display: inline-block;
						width: 1px;
						height: 110px;
						margin-top: 38px;
						background: #ccc;
					}
				}	
			}
			.header-mainnav{
				.header-mainnav-boxs{
					display: none;
					position: absolute;
					left: 0px;
					width: 100%;
					height: 460px;
					opacity: 1;
					.container{
						height: 460px;
						opacity: 1;
						.header-mainnav-menus{
							position: relative;
							background: #fff;
							width: 230px;
							height: 445px;
							padding-top: 15px;
							font-size: 14px;
							color: #666;
							margin-top: -1px;
							border: 1px solid #ff6700;
							>div:nth-child(1) div{width: 801px;}
							>div:nth-child(2) div{width: 534px;}
							>div:nth-child(3) div{width: 801px;}
							>div:nth-child(4) div{width: 960px;}
							>div:nth-child(5) div{width: 534px;}
							>div:nth-child(6) div{width: 960px;}
							>div:nth-child(7) div{width: 267px;}
							>div:nth-child(8) div{width: 267px;}
							>div:nth-child(9) div{width: 267px;}
							>div:nth-child(10) div{width: 267px;}
							#routerMenus li{
								width: 200px;
							}
							#earMenus li{
								width: 200px;
							}
							.mainnav-menu{
								height: 43px;
								cursor: pointer;
								font-size: 14px;
								line-height: 43px;
								.mainnav-menu-self{
									color: :#444;
									width: 170px;
									height: 100%;
									padding: 0px 30px 0 30px;
									i{
										float: right;
									}
								}
								.mainnav-items{
									display: none;
									height: 460px;
									position: absolute;
									left: 230px;
									top: -1px;
									font-size: 12px;
									background: #fff;
									.shadow;
									border: 1px solid #dfdfdf;
									ul{
										height: 460px;
										display: flex;
										flex-flow: column;
										flex-wrap: wrap;
										align-items: flex-start;
										align-content: space-around;
										li{
											width: 235px;
											height: 76.5px;
											padding: 0 15px 0 15px;
											margin: 0;
											cursor: auto;
											display: flex;
											align-items:center;
											justify-content:space-around;
											div{
												height: 40px;
												display: flex;
												cursor: pointer;
												align-items:center;
												img{
													margin-right: 10px;
												}
											}
											div:hover{
												color: #ff6700;
											}
											input{
												width: 150px;
												height: 25px;
												font-size: 10px;
												color: #ff6700;
												border: 1px solid #ff6700;
												background: #fff;
											}
											input:hover{
												color: #fff;
												background: #ff6700;
												cursor: pointer;
											}
										}
									}
								}
								
							}
						}
					}
				}
			}
			
		}
	}
	// 顶部搜索框
	.header-search{
		width: 296px;
		height: 48px;
		border: 1px solid #dfdfdf;
		border-right: none;
		box-sizing: border-box;
		position: absolute;
		right: 75px;
		top: 50%;
		z-index: 10;
		display: flex;
		justify-content:space-between;
		transform: translateY(-50%);
		.header-search-box{
			width: 243px;
			height: 46px;
			input{
				width: 228px;
				height: 44px;
				border: none;
				outline: none;
				font-size: 16px;
				padding-left: 15px;
				-webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;
			}
			button{
				font-size: 8px;
				border: none;
				color: #776e7f;
				background: #ecece6;
				position: absolute;
				top: 50%;
				right: 60px;
				cursor: pointer;
				transform: translateY(-50%);
			}
			button:nth-child(3){
				right: 150px;
			}
			.header-search-menus{
				display: none;
				width: 241px;
				height: 330px;
				position: absolute;
				left: -1px;
				top: 47px;
				z-index: 10;
				font-size: 10px;
				background: #fff;
				color: #444;
				border:1px solid #ff6700;
				border-top: none;
				ul{
					
					line-height: 30px;
					li{
						padding: 0 18px 0 18px;
						cursor: pointer;
						height: 30px;
						span{
							display: inline-block;
							float: right;
							color: #999;
						}
					}
				}
			}
		}
		.header-search-button{
			border: 1px solid #dfdfdf;
			// background: red;
			// box-sizing: border-box;
			position: absolute;
			right: 0;
			top: -1px;
			width: 52px;
			height: 46px;
			cursor: pointer;
			line-height: 46px;
			text-align: center;
			i{
				color: #999;
				font-size: 22px;
				font-weight: bold;
			}
		}
	}
}
 // header over

 // footer start
 // 底部服务区域
 .footer-service{
 	height: 79px;
 	border-bottom:1px solid #dfdfdf;
 	ul{
 		padding: 27px 0 27px 0;
 		color: #5e6464;
 		li{
 			float: left;
 			text-align: center;
 			line-height: 25px;
 			a{
 				display: inline-block;
 				width: 244px;
 				// height: 20px;
 				border-right: 1px solid #dfdfdf;
 				i{
 					font-size: 22px;
 					margin-right: 10px;
 				}
 			}
 		}
 		li:last-child a{
 			border: none;
 		}
 	}
 }
// 底部导航
.footer-nav{
	display: flex;
	height: 110px;
	padding: 40px 0 40px 0;
	text-align: center;
	.footer-nav-info{
		width: 979px;
		display: flex;
		justify-content:space-around;
		border-right: 1px solid #dfdfdf;
		ul{
			h6{
				font-size: 14px;
				font-weight: normal;
				margin-top: 3px;
				margin-bottom: 20px;
			}
			li{
				color: #6c7b74;
				font-size: 10px;
				line-height: 25px;
			}
		}
	}
	.footer-nav-contact{
		width: 246px;
		span{
			display: block;
			font-size: 12px;
			line-height: 20px;
		}
		span:first-child{
			color: #ff6801;
			font-size: 22px;
			margin-bottom: 5px;
		}
		a{
			display: block;
			width: 118px;
			height: 28px;
			margin: 0 auto;
			line-height: 28px;
			text-align: center;
			border: 1px solid #ff6801;
			color: #ff6801;
			font-size: 12px;
			margin-top: 12px;
			i{
				font-size: 20px;
				font-weight: bold;
			}
		}
	}
}
// 底部信息
.footer-info{
	height: 130px;
	padding-top: 35px;
	background: #fafafa url(../image/public/footer/slogan2016.png) no-repeat center 130px;
	.container{
		.footer-logo{
			width: 57px;
			height: 57px;
			float: left;
			margin-right: 10px;
			img{
				width: 57px;
				height: 57px;
			}
		}
		p{
			font-size: 10px;
			float: left;
		}
		p:nth-child(2){
			padding-top: 4px;
		}
		.footer-info-copy{
			color: #b0aba8;
			a{
				color: #b0aba8;
			}
			a:hover{
				color: #ff6b01;
			}
		}
		.footer-infolinks{
			float: right;
			a{
				margin-left: 5px;
			}
			img{
				width: 85px;
				height: 28px;
				float: left;
			}
		}
	}
}
// footer over
